html, body {
    /* height:100vh; */
    margin: 0;
    padding: 0;
    /* grid-template-columns: 1fr; */
    display: grid;
    justify-self: center;
    background-color: #00A7B1;
    
}

* {
    box-sizing: border-box;
    font-family: helvetica;
}


h1 {
    justify-self: center;
}

#main-box {
    /* height: 810px; */
    /* justify-self: center; */

}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: salmon;
    padding: 5px;
    justify-self: start;
    border-radius: 10px;
    margin: 0px;
    /* transform: scale(0.8); */
}

.table {
    background-color: skyblue;
    border-radius: 10px;
    
    height: 279px;
    width: 175px;
    justify-self: center; 
    list-style: none;
}

button {
    min-width: 9em;
    justify-self: center;
    align-content: center;
    background-color: salmon;
    border-radius: 10px;
    margin: 10px;
}



